@use "../sass-vars" as vars;

.cupcake {
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: .4rem;
  }

  .img {
    height: 100%;
    object-fit: cover;
  }

  .sold {
    filter: grayscale(1);
  }
  
  .text {
    margin: 0;
  }
}

.cupcakes .cupcake {
  background-color: var(--menu-bg-color);
  box-shadow: .12rem .12rem .6rem -.4rem;
  display: grid;
  grid-template-rows: 12rem auto auto;
  gap: .8rem;
  
  @media screen and (min-width: vars.$medium-screen) {
    padding: .8rem;
    grid-template-rows: 16rem auto auto;
    
  }

}

.cart-cupcakes .cupcake {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: flex-start;
  column-gap: .6rem;
  
  .img-container {
    height: 8rem ;
    width: 16rem ;
    grid-row: 1 / 3;
  }
}
