.cupcake {
  padding: .8rem;
  background-color: var(--menu-bg-color);
  box-shadow: .12rem .12rem .6rem -.4rem;
  display: grid;
  grid-template-rows: 60% 1fr 1fr 1fr;
  flex-direction: column;
  gap: .5rem;

  .img {
    height: 100%;
    object-fit: cover;
  }

  .sold {
    filter: grayscale(1);
  }
  
  .text {
    margin: 0;
  }
}
