@use "../mixins/breakpoint" as *;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 15px;

  @include breakpoint(bp1) {
    font-size: 16px;
  }
}

#root {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  padding-bottom: calc(var(--bottom-space));
}