@use "../../../styles/mixins/breakpoint" as *;

.login-register {
  color: var(--title-color);
  margin: 0 9%;

  @include breakpoint(bp2) {
    margin: 0 calc(19% + 2.7rem);
  }

  @include breakpoint(bp3) {
    margin: 0 calc(26% + 4rem);
  }

  .title {
    text-align: center;
  }

  .btn-submit {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin: 1.2rem 0;
    padding: .6rem 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.27rem;
    font-weight: bold;
  }
}