@use "../mixins/breakpoint" as *;

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: none;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: var(--menu-bg-color);
  transition: background-color .12s linear;

  @include breakpoint(bp1) {
    display: grid;
  }

  &.fixed {
    background-color: rgba(27, 27, 27, 0.8);
    backdrop-filter: blur(2px);
    position: fixed;
  }

  &.bg-active {
    background-color: var(--menu-bg-color);
  }

  .img-container {
    width: auto;
    height: inherit;
    img {
      width: auto;
      height: inherit;
    }
  }
}
