@use "../../../styles/mixins/breakpoint" as *;

.cupcake {
  display: grid;
  grid-template-columns: auto;
  gap: .6rem;
  margin-bottom: 1.9rem;
  color: var(--text-color);
  
  @include breakpoint(bp1) {
    grid-template-columns: auto 1fr;
  }

  img {
    height: 9rem;
    width: 100%;
    object-fit: cover;

    @include breakpoint(bp1) {
      height: 6.27rem;
      width: 9rem;
    }

    @include breakpoint(bp2) {
      height: 6.6rem;
      width: 10rem;
    }

    &.sold {
      filter: grayscale(1);
    }
  }

  .container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    
    @include breakpoint(bp1) {
      gap: .9rem;
      grid-template-columns: 2fr 1fr;
    }
  }

  .details {
    font-size: 1.027rem;
    margin-bottom: .6rem;

    >* {
      display: block;
      margin-bottom: .27rem;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: .9rem;
    
    @include breakpoint(bp1) {
      align-self: start;
      justify-self: flex-end;
      gap: 1.27rem;
    }
  }
}