.header {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  transition: background-color .12s linear;
  &.bg-active {
    background-color: var(--menu-bg-color);
  }

  .menu {
    display: flex;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
  }
  
  .item {
    list-style: none;
  }
  
  .link {
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  
  .active-page {
    color: rgb(45, 148, 226);
  }

  .img-container {
    width: 5.2rem;
    height: auto;
  }
}
