.header {
  display: grid;
  position: sticky;
  top: 0;
  z-index: 1;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: var(--menu-color);
}

.menu {
  display: flex;
}

.menu .link {
  list-style: none;
}