@use "../mixins/breakpoint" as *;

.cart-cupcakes {
  margin: 0 6%;

  > .title {
    text-align: center;
  }

  .title {
    color: var(--title-color);
    padding-left: unset;
    padding-right: unset;
  }

}