@use "../mixins/breakpoint" as *;

.cart-cupcakes {
  margin: 0 6%;

  > .title {
    text-align: center;
  }

  .title {
    color: var(--title-color);
    padding-left: unset;
    padding-right: unset;
  }

  .container {
    display: flex;
    gap: 1.27rem;
    flex-direction: column;
    justify-content: space-between;
    
    @include breakpoint(bp2) {
      flex-direction: row;
    }
  }

  .pay-container {
    span {
      color: var(--text-color);
      display: block;
      margin: 0 .4rem .4rem 0;
      white-space: nowrap;
    }

    button {
      all: unset;
      display: block;
      cursor: pointer;
      color: var(--title-color);
      padding: .6rem 1.27rem;
      border-radius: .4rem;
      background-color: var(--primary-color);
    }
  }
}