.title {
  text-align: center;
  margin: 0;
  padding: .6em;
}

.cupcakes .container {
  display: grid;
  gap: 1.6rem;
  margin: 0 12%;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
