.banner {
  background-color: rgba(54, 159, 240, 0.8);
  height: 16rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .bg-img {
  z-index: -1;
  object-fit: cover;
  width: 100%;
  position: absolute;
}

.banner .container {
  text-align: center;
}