.banner {
  background-color: rgba(27, 27, 27, 0.19);
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .bg-img {
    z-index: -1;
    object-fit: cover;
    width: inherit;
    height: inherit;
    position: absolute;
  }
  
  .container {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px rgba(8, 31, 49, 0.5);
  }
  
  .link {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-shadow: none;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2rem;
    padding: .5rem;
    margin: 1.2rem;
    background-color: var(--primary-color);
  }
}