:root {
    --menu-bg-color: hsl(180, 100%, 100%);
    --bg-color: hsl(180, 15%, 96%);
}




body {
    background-color: var(--bg-color);
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}