:root {
    --bg-color: rgb(255, 255, 255);
    --menu-color: var(--bg-color);
}




body {
    background-color: var(--bg-color);
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}