@use "../cards/ph-button";

.btn-sell {
  @extend %button;
  font-weight: bold;
  border: .19rem solid var(--primary-color);
  color: var(--primary-color);

  &:hover {
    color: var(--light-color);
    background-color: var(--primary-color);
  }
}

.sold-tag {
  @extend %button;
  cursor: unset;
}
