@use "../cards/ph-button";

.btn-add {
  @extend %button;
  position: relative;
  width: 1.9rem;
  height: 1.9rem;
  color: rgb(45, 148, 226);
  &:hover {
    color: hsl(127, 90%, 29%);
  }

  svg {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
  }
}

.btn-remove {
  @extend %button;
  position: relative;
  width: 1.9rem;
  height: 1.9rem;
  color: rgb(45, 148, 226);
  &:hover {
    color: hsl(0, 90%, 29%);
  }

  svg {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
  }

  .cart-checked {
    opacity: 1;
  }
  
  .cart-remove {
    opacity: 0;
  }

  &:hover {
    .cart-checked {
      opacity: 0;
    }
    
    .cart-remove {
      opacity: 1;
    }
  }
}

