@use "../cards/ph-button";

.btn-add {
  @extend %button;
  width: 1.9rem;
  height: 1.9rem;
  color: var(--primary-color);
  &:hover {
    color: hsl(127, 90%, 29%);
  }

  svg {
    display: block;
  }
}

.btn-remove {
  @extend %button;
  width: 1.9rem;
  height: 1.9rem;
  color: var(--primary-color);
  &:hover {
    color: hsl(0, 90%, 29%);
  }

  svg {
    display: block;
  }
  
  .cart-checked {
    display: block;
  }
  
  .cart-remove {
    display: none;
  }
  
  &:hover {
    .cart-checked {
      display: none;
    }
    
    .cart-remove {
      display: block;
    }
  }
}
