.label {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding: .5rem 0;
  width: calc(12rem + 6%);
  color: var(--title-color);

  .input {
    border: none;
    border-radius: 2px;
    padding: 0.19rem;
    box-shadow: 0px 0px 2px var(--dark-color);
    &:focus {
      outline: 2px solid var(--primary-color);
    }
  }
}