@use "../mixins/breakpoint" as *;

.item {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  color: currentColor;
  font-size: calc(var(--header-height) * 0.42);
  padding: 1em 1.5em;

  @include breakpoint(bp1) {
    display: inline-block;
    padding: .6em 0;
  }
}

.active {
  color: var(--primary-color);
}