@use "../mixins/breakpoint" as *;

.button {
  @include breakpoint(bp0) {
    all: unset;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    height: calc(var(--header-height) * 1.5);
    width: calc(var(--header-height) * 1.5);
  }

  @include breakpoint(bp1) {
    display: none;
  }
  
  .list, .close {
    top: inherit;
    right: inherit;
    position: absolute;
    transition: filter .06s linear;
  }
  
  .close {
    filter: opacity(0);
  }
  
  &.is-active {
    .list {
      filter: opacity(0);
    }
    .close {
      filter: opacity(1);
    }
  }
}