.bi-cart-checked, .bi-cart-remove, .bi-cart {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}

.btn-remove {
  .bi-cart-checked {
    opacity: 1;
  }
  
  .bi-cart-remove {
    opacity: 0;
  }
  
  &:hover {
    .bi-cart-checked {
      opacity: 0;
    }
    
    .bi-cart-remove {
      opacity: 1;
    }
  }
}
