.label {
  font-size: 1.09rem;
  box-sizing: border-box;
  white-space: nowrap;
  padding: .5rem 0;
  display: block;
  color: var(--title-color);
}

.input {
  all: unset;
  display: block;
  box-sizing: border-box;
  cursor: text;
  border-radius: 6px;
  margin-top: .27rem;
  padding: 0.27rem;
  width: 100%;
  border: 2px solid var(--text-color);

  &:focus {
    border-color: var(--primary-color);
    background-color: var(--menu-bg-color);
  }
}