.change-password-form {
  margin: 1.27rem 0;
}

.change-password-container {
  display: flex;
  align-items: flex-end;
}

.btn-hidden {
  all: unset;
  color: var(--title-color);
  cursor: pointer;
  margin-bottom: .6rem;
  margin-left: .27rem;
}

.btn-change-password {
  all: unset;
  background-color: var(--primary-color);
  padding: .6rem;
  border-radius: 6px;
  font-weight: bold;
  color: var(--title-color);
  cursor: pointer;
  margin-bottom: .6rem;
}

.btn-logout {
  all: unset;
  font-size: 1.09rem;
  font-weight: bold;
  color: var(--primay-color);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}