@use "../../../styles/mixins/breakpoint" as *;

.item {
  list-style: none;
}

.link {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--title-color);
  font-size: calc(var(--header-height) * 0.29);
  text-align: center;
  padding: .46em .27em;
  
  @include breakpoint(bp2) {
    padding: .6em 0;
  }

  svg {
    margin: 0 auto;
    width: 2.6rem;
    height: auto;
  }
}

.active {
  color: var(--primary-color);
}

.banner .link:not(.active){
  color: var(--light-color);
}