.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.number {
  border-radius: 6px;
  padding: 0 .27rem;
  background-color: #191919f1;
  font-weight: bold;
  color: #fff;
}