%btn {
  cursor: pointer;
  border: none;
  font-size: 1rem;
  width: 46%;
  border-radius: 6px;
  padding: .6rem 0;
}

.btnAdd {
  @extend %btn;
  margin-right: 4%;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
  
  &:active {
    background-color: hsl(127, 90%, 29%);
    border-color: hsl(127, 90%, 29%);
  }
}

.btnRemove {
  @extend %btn;
  margin-left: 4%;
  background-color: transparent;
  border: 2px solid currentColor;
  border-color: currentColor;
  color: var(--text-color);

  &:active {
    color: hsl(0, 90%, 29%);
  }
}

.qtyContainer {
  color: var(--title-color);
  border: 1px solid currentColor;
  margin-bottom: 1.09rem;
  border-radius: 4px;
  
  &:focus {
    color: var(--title-color);
  }
}

.btnQty {
  all: unset;
  background-color: unset;
  font-weight: bold;
  font-size: 1.27rem;
  width: 2.07rem;
  text-align: center;
  cursor: pointer;
}

.qty {
  all: unset;
  background-color: unset;
  width: calc(100% - 2.07rem * 2);
  font-size: 1.27rem;
  appearance: textfield;
  text-align: center;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}