@use "../../../styles/mixins/breakpoint" as *;
@use "../../../styles/config/sass-vars" as vars;

.prod {
  box-shadow: .27rem .27rem .6rem -.4rem var(--dark-color);

  background-color: var(--menu-bg-color);
  border-radius: 6px;
  overflow: hidden;
  
  img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
    
    @include breakpoint(bp2) {
      height: 16rem;
    }
  }
  
  .container {
    padding: .6rem;
    color: var(--text-color);
  }
  
  .details {
    font-size: 1.027rem;
    margin-bottom: .6rem;

    > *{
      display: block;
      margin-bottom: .4rem;
    }

  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.27rem;
  }
}
