@use "../mixins/breakpoint" as *;

.cupcakes-features {
  display: grid;
  padding: 2.7rem 6%;
  gap: 1.9rem;
  grid-template-columns: 1fr;
  
  @include breakpoint(bp1) {
    padding: 2.7rem 12%;
    grid-template-columns: 1fr 1fr;
  }
  
  @include breakpoint(bp2) {
    grid-template-columns: repeat(4, 1fr);
  }
}